<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::section})}">

<head>
    <title>Student List</title>
</head>

<body>
<section>
    <h2>Student List</h2>

    <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>

    <div class="mb-3">
        <a th:href="@{/add-student}" class="btn btn-primary">Add Student</a>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
			<th>Role</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.phone}"></td>
            <td th:text="${student.address}"></td>
			<td th:text="${student.role}"></td>
            <td>
                <a class="btn btn-success btn-sm"
                   th:href="@{/edit-student(id=${student.id})}">Edit</a>
                <a class="btn btn-danger btn-sm"
                   th:href="@{/delete-student(id=${student.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
