{% extends "base.html" %}
{% block content %}
<div class="row">
   <div class="col-md-4 col-12">
      <h2 class="alert alert-info text-center">Add Employee</h2>
      <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        {{ employee_form.as_p }}
         <input type="submit" class="btn btn-secondary" value="Add Employee">
      </form>
   </div>
   <div class="col-md-7 offset-md-1 col-12">
      <h2 class="alert alert-primary text-center">Employee List</h2>
      <table class="table table-hover">
         <thead>
            <tr>
               <th>Id</th>
               <th>Name</th>
               <th>Email</th>
               <th>Designation</th>
               <th>Salary</th>
               <th>Action</th>
            </tr>
         </thead>
         <tbody>

            {% for emp in employees %}
            <tr>
               <td>{{ emp.id }}</td>
               <td>{{ emp.name }}</td>
               <td>{{ emp.email }}</td>
               <td>{{ emp.designation }}</td>
               <td>{{ emp.salary }}</td>
               <td>
                  <a href="{% url 'edit' emp.id %}" class="btn btn-info">Edit</a>
                  <a href="{% url 'delete' emp.id %}" class="btn btn-danger">Delete</a>
               </td>
            </tr>
            {% empty %}
            <td colspan="6">
               <h3 class="alert alert-warning text-center">No Employees found</h3>
            </td>
            {% endfor %}

         </tbody>
      </table>
   </div>

{% endblock content %}