<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Employee</title>
</head>
<body>
    <h2>Edit Employee</h2>
    <form action="/employees/edit-employee" method="post">
        <input type="hidden" name="id" th:value="${employee.id}">
        First Name: <input type="text" name="firstName" th:value="${employeedto.firstName}" required><br>
        Last Name: <input type="text" name="lastName" th:value="${employeedto.lastName}" required><br>
        Email: <input type="email" name="email" th:value="${employeedto.email}" required><br>
        Phone: <input type="text" name="phone" th:value="${employeedto.phone}" required><br>
        Department: <input type="text" name="department" th:value="${employeedto.department}" required><br>
        <button type="submit">Update</button>
    </form>
</body>
</html>
