<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <style>
        .error { color: red; }
    </style>
</head>
<body>
    <h2>Register</h2>

    <form action="#" th:action="@{/register}" th:object="${user}" method="post">
        
         <label for="name"> Name</label>
          <input type="text" id="name" placeholder="Enter yourname" th:field="*{name}">
      <br>
      <label for="age">Age</label>
          <input type="number" id="age" placeholder="Enter your age" th:field="*{age}">
      <br>
      <label for="email"> Email</label>
          <input type="email" id="email" placeholder="Enter your  email" th:field="*{email}">
      <br>
      <label for="phone">Phone</label>
          <input type="number" id="phone" placeholder="Enter your phone number" th:field="*{phone}">
      <br>
      <label for="password"> Password</label>
          <input type="password" id="password" placeholder="Enter your  password" th:field="*{password}">
      <br>
      <label for="date of birth"> Name</label>
          <input type="date" id="date of birth" placeholder="Enter your date of birth" th:field="*{date of birth}">
      <br>
      <label for="name"> Name</label>
          <input type="text" id="name" placeholder="Enter yourname" th:field="*{name}">
      <br>
       <label for="city">City:</label>
        <select id="city" name="city">
            <option value="">Select</option>
            <option value="New York">New York</option>
            <option value="Los Angeles">LosAngeles</option>
            <option value="Chicago">ChiKago</option>
        </select><br><br>
        
  <label for="city">City</label>
        <select id="city" th:field="*{city}">
            <option value="" disabled selected>Select a city</option>
            <option th:each="city : ${cities}" th:value="${city}" th:text="${city}"></option>
        </select>

  <label>Gender:</label>
        <input type="radio" name="gender" value="Male"> Male
        <input type="radio" name="gender" value="Female"> Female
        <input type="radio" name="gender" value="Other"> Other<br><br>
  
  <label>Skills:</label>
        <input type="checkbox" name="skills[]" value="Java"> Java
        <input type="checkbox" name="skills[]" value="Python"> PYTHON
        <input type="checkbox" name="skills[]" value="JavaScript"> JavaScript<br><br>

  <label for="address">Address:</label>
        <textarea id="address" name="address" rows="4" cols="50"></textarea><br><br>

        <input type="submit" value="Submit">
    </form>
     <p>Already registered? <a href="/login">Login here</a></p>
</body>
</html>
        

       
       
