<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/faculty_layout :: content">

<body>
  <h2>Change Password</h2>

  <form th:action="@{/faculty/changePassword}" method="post">
    <div class="mb-3">
      <label>Current Password</label>
      <input type="password" class="form-control" name="currentPassword" required>
    </div>
    <div class="mb-3">
      <label>New Password</label>
      <input type="password" class="form-control" name="newPassword" required>
    </div>
    <button type="submit" class="btn btn-danger">Change Password</button>
  </form>
</body>
</html>
