<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/faculty_layout :: facultyLayout('Manage Profile', ~{::section})">
<section>
  <h2>Manage Profile</h2>

  <form th:action="@{/faculty/updateProfile}" method="post" th:object="${faculty}">
    <div class="mb-3">
      <label>Name</label>
      <input type="text" class="form-control" th:field="*{name}" required>
    </div>
    <div class="mb-3">
      <label>Email</label>
      <input type="email" class="form-control" th:field="*{email}" required>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</section>
</html>
