<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/faculty_layout :: content">

<body>
  <h2>Assignments</h2>
  <p>Here you can view and add assignments.</p>

  <!-- Assignment List -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Due Date</th>
        <th>Class</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="assignment : ${assignments}">
        <td th:text="${assignment.title}">Math HW</td>
        <td th:text="${assignment.dueDate}">2025-07-10</td>
        <td th:text="${assignment.className}">10th Grade</td>
      </tr>
    </tbody>
  </table>

  <a class="btn btn-success" th:href="@{/addAssignment}">Add Assignment</a>
</body>
</html>
